<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="x-ua-compatible" content="IE=8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr-fr" />
  <meta charset="UTF-8" />
  <title>TIM</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="page">

    <div id="header">

      <h1>~ <a href="/">TIM</a> ~</h1>

    </div>

    <ul id="nav">
      <li><a href="/">Journées</a></li>
      <li><a href="/new">Nouveau</a></li>
    </ul>

    <div id="main">

<%= yield %>

    </div>

    <div id="footer">

      <p>-----</p>

    </div>

  </div>
</body>

</html>
