<form action="/projects" method="post">
  <fieldset class="form">
    <h3>
      Consultation période du
      <input class="short" id="from" name="from" type="text" value="<%= @from %>" />
      au
      <input class="short" id="to" name="to" type="text" value="<%= @to %>" />
      &nbsp;
      <input type="submit" value="Ok" />
    </h3>
  </fieldset>
</form>

<ul><% @projects.each do |project, minutes| %>
<%= "<li><a href=""/projects/#{project}"">#{project}</a> : #{get_days(minutes)}</li>" %>
<% end %></ul>
